@model Majstic.Models.Img


<div>
    <h4> @Model.imgName </h4>
    <hr />
    <ul class="list-inline col-centered">
        <li>
            <p>Owner : <strong> @Model.UserName </strong></p>
        </li>

        <li>
            <p>Shared : <strong> @Model.Share </strong></p>
        </li>

        <li >
            <p>Type : <strong> @Model.ContentType </strong></p>
        </li>
    </ul>
    <ul class="list-inline col-centered">
        <li>
            @Ajax.ActionLink("Back", "Albumthumbs", "Admin", null, new AjaxOptions()
                                   {
                                       HttpMethod = "GET",
                                       UpdateTargetId = "ChangeForDetails",
                                       InsertionMode = InsertionMode.Replace,
                                       OnBegin = "onBegin",
                                       OnComplete = "onComplete"
                                   }, new { @class = "btn btn-default  col-centered" })
        </li>
    </ul>

</div>
<hr />


<img src="/Show/ShowPhotoForAdmin/@Model.Id" alt="" class="img-responsive" />